body{
    background-color: linen;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
#myptag{
    background-color: #dddddd; 
    border: thin dotted #AAAAAA;
}
.evenRow{
    background: green;
}
.roman-list{
    list-style-type: upper-roman;
}
table, th, td{
    text-align: center;
    border: 1px solid black;
}
a:hover{
    background: cyan;
}